@model ProductViewModel
@using FinalProject.Models

@{
    ViewData["Title"] = "Find your fur friend";
}

<div class="panel panel-default todo-panel container-col">
    <div class="panel-heading">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="container-col">
        <form id="productForm" method="post" asp-action="AddtoCart">
            @foreach (var product in Model.Products) {
                <div class="card">
                    <div class="card-image">
                        <img src="@product.ImagePath" alt="@product.Name">
                    </div>
                    <p class="name">@product.Name</p>
                    <p class="card-description">@product.Description</p>
                    @if (!product.IsInCart && !product.IsPaid){
                        <input type="checkbox" class="product-checkbox" name="productIds" value="@product.Id">
                    }
                    @if (product.IsInCart){
                        <p style="color: green;">Item Added to Cart. Go to Cart Page for payment.</p>
                    }
                    @if (product.IsPaid){
                        <p style="color: rgb(0, 51, 128);">Item has been paid. Wait for shipping.</p>
                    }
                    @* @if (product.IsShipped){
                        <p style="color: green;">Item has been shipped.</p>
                    } *@
                </div>
            }
            <div class="center-btn">
                <button class="btn2" type="submit">Add to Cart</button>
            </div>
        </form>
    </div>
</div>