@model ProductViewModel
@using FinalProject.Models

@{
    ViewData["Title"] = "Find your fur friend";
}

<div class="panel panel-default todo-panel container-col">
    <div class="panel-heading">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="container-col">
        <form id="productForm" method="post" asp-action="AddtoCart">
        @foreach (var product in Model.Products) {
            <div class="card">
                <div class="card-image">
                    <img src="@product.ImagePath" alt="@product.Name">
                </div>
                <p class="name">@product.Name</p>
                <p class="card-description">@product.Description</p>
                <input type="checkbox" name="productIds" value="@product.Id">
            </div>
        }
        <div class="center-btn">
            <button class="btn2" type="submit">Add to Cart</button>
        </div>
        </form>
    </div>
</div>

<!--
    <div class="product-item">
                <input type="checkbox" name="productIds" value="product.Id">
                <p><strong>product.Name</strong></p>
                <img src="product.ImagePath" alt="product.Name" width="280px" height="250px"/>
                <p>product.Description</p>
            </div>
-->