@model ProductViewModel
@using FinalProject.Models

@{
    ViewData["Title"] = "Find your purr friend";
}

<div class="panel panel-default todo-panel container-col">
    <div class="panel-heading">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="container-col">
        <form id="productForm" method="post" asp-action="AddtoCart">
        @foreach (var product in Model.Products) {
            <div class="card">
                <div class="card-image">
                    <img src="@product.ImagePath" alt="@product.Name">
                </div>
                <p class="name">@product.Name</p>
                <p class="card-description">@product.Description</p>

                @if (!product.IsInCart && !product.IsPaid && !product.IsShipped){
                        <input type="checkbox" class="product-checkbox" name="productIds" value="@product.Id">
                    }
                else if (product.IsInCart){
                    <p style="color: rgb(128, 128, 0);"> &#128712; Item Added to Cart. Go to Cart Page for payment.</p>
                }
                else if (product.IsPaid){
                    <p style="color: rgb(117, 0, 128);"> &#128712; Item has been paid. Wait for shipping.</p>
                }
                else if (product.IsShipped){
                    <p style="color: green;"> &#10003; Item has been shipped.</p>
                }
            </div>
        }
        <div class="center-btn">
            <button class="btn2" type="submit">Add to Cart</button>
        </div>
        </form>
    </div>
</div>